@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* root scope */
:root {
    /* create variable */
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

/* for everything because we don't want any padding to affect the width of the element */
* {
    box-sizing: border-box;
}

body {
    /* background-color: #a6aaad; */
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    /* makes all the direct children of the body will be a flex item, we can easily put stuff in them middle (hori  and vert)  */
    display: flex;
    align-items: center;
    justify-content: center;
    /* if we want vertically aligned, we'll use 100 slices (All slices) and because it's align-items and justify-content: center it gets centered */
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    /* round */
    border-radius: .5em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    width: 400px;
}

h2 {
    text-align: center;
    /* top, left, bottom -> 20px in the bottom */
    margin: 0 0 20px;
}

.form-class {
    /* 30px top and bottom, 40px left and right */
    padding: 30px 40px;

}

.form-control {
    /* margin between elements of the form */
    margin-bottom: 10px;
    padding-bottom: 20px;
    /* we need it relative because we're going to be positioning the small tag (error message) absolute within the form control, so if you
    want to position something absolute within another element, that parent has to be relative */
    position: relative;
}

.form-control label {
    color: #777;
    /* each label go their own line and know the next element down (the input) */
    display: block;
    /* margin between label and input */
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    /* 100% of its container, which is form-control*/
    width: 100%;
    /* make it looks fat */
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
    /* no outline */
    outline: 0;
    /* add border color when on focus */
    border-color: #777;
}

/* in case of success, we'll add in the js */
.form-control.success input {
    border-color: var(--success-color);
}

/* in case of error, we'll add in the js */
.form-control.error input {
    border-color: var(--error-color);
}

.form-control small {
    color: var(--error-color);
    /* absolute within the form-control */
    position: absolute;
    bottom: 0;
    left: 0;
    /* the difference between visibility hidden and display: none -> this will collapse anything 
    around it, visibility: hidden just makes it invisible */
    visibility: hidden;
}

/* when form-control has class error, then we'll change small element */
.form-control.error small {
    visibility: visible;
}

/* default submit button */
.form-class button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}

/* when we're hovering on it let's overwrite color*/
.form-class button:hover {
    background-color: #237bb6;
    border: 2px solid #237bb6;
}